* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000;

    @media screen and (max-width: 1920px) {
        font-size: calc(12px + 8 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(29 / 20);
    }

    @media screen and (max-width: 767px) {
        &.lock {
            overflow: hidden;
        }
    }
}

section {
    padding: 100px 0;

    @media screen and (max-width: 991px) {
        padding: 50px 0;
    }

    @media screen and (max-width: 575px) {
        padding: 20px 0;
    }
}

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 15px;
}

.section-bg {
    background-color: $bg-color;
}

.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1920px) {
        font-size: calc(15px + 5 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(24 / 20);
    }

    @media screen and (max-width: 991px) {
        letter-spacing: 0.4px;
        margin-bottom: 25px;
    }

    @media screen and (max-width: 575px) {
        margin-bottom: 10px;
    }

    &::before,
    &::after {
        content: "";
        height: 4px;
        background: #000;
        flex: 1 1 auto;
    }

    &::before {
        @media screen and (max-width: 575px) {
            display: none;
        }
    }

    span {
        flex: 0 1 auto;

        @media screen and (max-width: 575px) {
            padding: 0 15px 0 0;
        }
    }
}

.section-title--center {
    text-align: center;

    span {
        padding: 0 50px;

        @media screen and (min-width: 768px) {
            white-space: nowrap;
        }

        @media screen and (max-width: 767px) {
            padding: 0 25px;
        }
    }
}

.title {
    font-family: "Cormorant Garamond";
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2.5px;
    max-width: 570px;

    @media screen and (max-width: 1920px) {
        font-size: calc(26px + 24 * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(51 / 50);
    }

    @media screen and (max-width: 991px) {
        letter-spacing: 0px;
    }

    @media screen and (max-width: 575px) {
        text-align: center;
    }
}

.column-left,
.column-right {
    img {
        display: block;
        width: 100%;
        max-width: 520px;
        height: auto;

        @media screen and (max-width: 575px) {
            max-width: 300px;
            margin: 0 auto;
        }
    }
}

.column-left {
    .section-title {
        &::after {
            display: none;
        }

        span {
            padding-left: 50px;

            @media screen and (max-width: 767px) {
                padding-left: 25px;
            }

            @media screen and (max-width: 575px) {
                padding-left: 15px;
            }
        }
    }
}

.column-right {
    .section-title {
        &::before {
            display: none;
        }

        span {
            padding-right: 50px;

            @media screen and (max-width: 767px) {
                padding-right: 25px;
            }

            @media screen and (max-width: 575px) {
                padding-right: 15px;
            }
        }
    }
}

.button {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1.8px;
    text-decoration: none;
    color: $text-color;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22.5px 50px;
    background: transparent;
    border: 3px solid #000;
    border-radius: 10px;
    cursor: pointer;

    @media screen and (max-width: 1990px) {
        font-size: calc(13px + 7 * ((100vw - 320px) / (1920 - 320)));
    }

    @media screen and (max-width: 991px) {
        padding: 18px 47px;
    }

    @media screen and (max-width: 767px) {
        padding: 13px 22px;
    }

    @media screen and (max-width: 450px) {
        padding: 13px 22px;
    }
}
