@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// libs
@import "libs/slick";
@import "libs/fancybox";

// custom
@import "fonts";
@import "variables";
@import "basic-style";
@import "input";
@import "_header";
@import "_footer";
@import "components/main/slider";
@import "components/accordion";

.site-main {
	padding: 100px 0px 0px 0px;

	@media screen and (max-width: 767px) {
		padding: 60px 0px 0px 0px;
	}
}

.first-screen {
	padding: 0;
}

.about {
	&__container {
		overflow: hidden;
	}

	&__row {
		display: flex;
		margin: 0 -25px;

		@media screen and (max-width: 991px) {
			margin: 0 -15px;
		}

		@media screen and (max-width: 767px) {
			margin: 0 -10px;
		}

		@media screen and (max-width: 575px) {
			flex-direction: column-reverse;
			margin: 0;
		}
	}

	&__row--reverse {
		flex-direction: row-reverse;

		.section-title {
			flex-direction: row-reverse;

			@media screen and (max-width: 575px) {
				flex-direction: row;
			}

			span {
				padding: 0px 50px 0px 0px;

				@media screen and (max-width: 767px) {
					padding: 0px 25px 0px 0px;
				}

				@media screen and (max-width: 575px) {
					padding: 0px 15px 0px 0;
				}
			}
		}
	}

	&__row--center {
		align-items: center;
	}

	&__column {
		padding: 0 25px;
		position: relative;

		@media screen and (max-width: 991px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 767px) {
			padding: 0 10px;
		}

		@media screen and (max-width: 575px) {
			padding: 5px 0;
		}

		&.column-left {
			flex: 1 1 100%;
		}

		&.column-right {
			flex: 0 0 39.3%;
		}
	}

	&__title {
		margin-bottom: 31px;

		@media screen and (max-width: 991px) {
			margin-bottom: 15px;
		}
	}

	&__text {
		margin-bottom: 29px;
		max-width: 760px;
		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (max-width: 991px) {
			margin-bottom: 14px;
		}

		@media screen and (max-width: 575px) {
			margin-bottom: 10px;
		}
	}

	&__text--line {
		padding-left: 32px;
		max-width: 792px;
		position: relative;
		margin: 0px 0px 30px 12px;

		@media screen and (max-width: 767px) {
			margin-left: 8px;
			padding-left: 20px;
		}

		@media screen and (max-width: 575px) {
			margin-left: 0;
			padding-left: 12px;
		}

		&::before {
			content: "";
			background-color: $grey-color;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 3px;
			height: 100%;
		}
	}
}

.consultation-form {
	// .consultation-form__section-title
	&__section-title {
		margin-bottom: 25px;

		span {
			flex: 0 0 50%;

			@media screen and (max-width: 575px) {
				flex: 0 0 75%;
				text-align: left;
			}
		}
	}

	// .consultation-form__form
	&__form {
		max-width: 860px;
		margin: 0 auto;
	}

	// .consultation-form__attention-text
	&__attention-text {
		text-align: center;
		color: $accent-color;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;

		@media screen and (max-width: 1920px) {
			font-size: calc(10px + 4 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(20 / 14);
		}

		a {
			color: $accent-color;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.input-wrapper {
		text-align: center;
	}

	.input-wrapper--select,
	.input-wrapper--textarea,
	.input-wrapper--button {
		flex: 0 0 100%;
	}

	.input-wrapper__text--textarea {
		height: 120px;
		margin-bottom: 0;
		display: flex;

		@media screen and (max-width: 991px) {
			height: 96px;
		}

		@media screen and (max-width: 767px) {
			height: 77px;
		}

		@media screen and (max-width: 450px) {
			height: 68px;
		}
	}

	.input-wrapper--check {
		padding: 0;
		margin-bottom: 5px;

		@media screen and (max-width: 767px) {
			margin: 10px 0;
		}
	}

	.input-wrapper__label {
		font-size: 14px;
		line-height: 17px;
		color: $input-color;

		@media screen and (max-width: 1920px) {
			font-size: calc(9px + 5 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(17 / 14);
		}
	}

	&__button {
		display: inline-flex;
	}
}
.privacy-policy {
	color: $link-color;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	text-decoration: none;

	@media screen and (max-width: 1920px) {
		font-size: calc(9px + 3 * ((100vw - 320px) / (1920 - 320)));
		line-height: calc(15 / 12);
	}

	@media screen and (max-width: 450px) {
		display: block;
		margin: 5px 0;
	}
}

.blog {
	overflow: hidden;
	&__container {
	}
	// .blog__section-title
	&__section-title {
		margin-bottom: 23px;
	}

	// .blog__button
	&__button {
		display: flex;
		justify-content: center;
	}

	&__button-link {
		letter-spacing: 1px;
	}
}
.card-blog {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -26px 18px;

	@media screen and (max-width: 991px) {
		margin: 0 -10px 18px;
	}

	@media screen and (max-width: 575px) {
		margin: 0 -5px 10px;
	}

	&__item {
		flex: 0 0 33.333%;
		padding: 26px;
		display: flex;

		@media screen and (max-width: 991px) {
			padding: 10px;
		}

		@media screen and (max-width: 767px) {
			flex: 0 0 50%;
		}

		@media screen and (max-width: 575px) {
			padding: 5px;
		}

		@media screen and (max-width: 450px) {
			flex: 0 0 100%;
			padding: 10px 0;
		}
	}

	// .card-blog__body
	&__body {
		border-radius: 10px;
		background-color: #fff;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 430px;
		box-shadow: 0px 5px 30px rgba(179, 215, 226, 0.4);
		transition: 0.3s ease all 0s;
		&:hover {
			box-shadow: 0px 5px 30px 5px rgba(159, 205, 220, 0.7);
		}
	}

	&__img {
		position: relative;
		padding-bottom: 65%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding: 15px 20px 17px;
		display: flex;
		flex-direction: column;
		flex: 1 0 80px;

		@media screen and (max-width: 991px) {
			padding: 15px;
		}
	}

	// .card-blog__title
	&__title {
		margin-bottom: 6px;
		font-weight: 700;
		font-size: 20px;
		line-height: 21px;
		letter-spacing: 1px;
		flex: 1 1 auto;

		@media screen and (max-width: 1920px) {
			font-size: calc(12px + 8 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(21 / 20);
		}
	}

	// .card-blog__title-link
	&__title-link {
		color: $text-color;
	}

	// .card-blog__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .card-blog__rubric
	&__rubric {
		font-weight: 300;
		font-size: 15px;
		line-height: 16px;
		margin: 8px 0;

		@media screen and (max-width: 1920px) {
			font-size: calc(10px + 5 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(16 / 15);
		}
	}

	// .card-blog__rubric-link
	&__rubric-link {
		position: relative;
		color: $input-color;
		padding: 5px 20px 5px 0px;
		letter-spacing: 0.8px;
		transition: 0.3s ease all 0s;
		&:hover {
			color: $input-color;
			&::before {
				background: rgba(229, 124, 101, 0.35);
			}
		}

		@media screen and (max-width: 575px) {
			padding-right: 10px;
		}

		&::before {
			content: "";
			height: 100%;
			width: 200%;
			position: absolute;
			top: 0;
			left: -100%;
			background: rgba(159, 205, 220, 0.35);
			border-radius: 0px 10px 10px 0px;
			transition: 0.3s ease all 0s;
		}
	}

	// .card-blog__date
	&__date {
		font-size: 20px;
		line-height: 29px;
		color: $grey-color;

		@media screen and (max-width: 1920px) {
			font-size: calc(10px + 10 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(29 / 20);
		}
	}
}

.page-about {
	// .page-about__title
	&__title {
		max-width: inherit;
		position: relative;
		display: inline-block;
		margin-bottom: 26px;
		@media screen and (min-width: 992px) {
			padding-top: 20px;
		}
		@media screen and (max-width: 450px) {
			margin-bottom: 18px;
		}

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 4px;
			background: #000;
			position: absolute;
			bottom: -16px;
			@media screen and (max-width: 450px) {
				bottom: -8px;
			}
		}
	}

	// .page-about__subtitle
	&__subtitle {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 2px;
		padding-bottom: 30px;
		@media screen and (max-width: 1920px) {
			font-size: calc(12px + 8 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(24 / 20);
		}

		@media screen and (max-width: 767px) {
			padding-bottom: 20px;
		}
	}
}

.certificates {
	// .certificates__container
	&__container {
		@media screen and (max-width: 450px) {
			padding: 0 5px;
		}
	}

	// .certificates__section-title
	&__section-title {
		@media screen and (max-width: 1920px) {
			font-size: calc(14px + 6 * ((100vw - 320px) / (1920 - 320)));
		}
		@media screen and (max-width: 450px) {
			padding: 0 10px;
		}
	}

	// .certificates__slider
	&__slider {
		padding: 0 33px;
	}

	&__note {
		text-align: center;
		padding-top: 30px;

		a {
			font-weight: 600;
			color: $link-color;
			text-decoration: underline;
		}
	}
}

.slider-certificates {
	// .slider-certificates__item
	&__item {
		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__wrapper {
		padding: 0 10px;
		@media screen and (max-width: 450px) {
			padding: 0;
		}
	}

	&__link {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		padding-bottom: 75.8%;
	}
}

.contacts {
	// .contacts__row
	&__row {
		display: flex;
		margin: 0 -25px;

		@media screen and (max-width: 991px) {
			margin: 0 -15px;
		}

		@media screen and (max-width: 767px) {
			margin: 0 -10px;
		}

		@media screen and (max-width: 575px) {
			margin: 5p-x 0;
		}
	}

	// .contacts__row--reverse-mobile
	&__row--reverse-mobile {
		@media screen and (max-width: 575px) {
			flex-direction: column-reverse;
		}
	}

	// .contacts__column
	&__column {
		padding: 0 25px;
		flex: 0 0 50%;

		@media screen and (max-width: 991px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 767px) {
			padding: 0 10px;
		}

		@media screen and (max-width: 575px) {
			padding: 5px 0;
		}
	}

	&__frame-wrapper {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
	}

	&__frame {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
	}

	// .contacts__wrapper
	&__wrapper {
		padding: 20% 0;

		@media screen and (max-width: 991px) {
			padding: 5% 0 0;
		}

		@media screen and (max-width: 767px) {
			padding: 0;
		}
	}

	// .contacts__contact
	&__contact {
		margin-bottom: 25px;

		@media screen and (max-width: 767px) {
			margin-bottom: 15px;
		}
	}

	// .contacts__text
	&__text {
		font-weight: 600;
		font-size: 22px;
		line-height: 32px;
		@media screen and (max-width: 1920px) {
			font-size: calc(14px + 8 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(32 / 22);
		}

		a {
			color: #000;
		}
	}

	// .contacts__social
	&__social {
		.social__item {
			margin-right: 36px;
			@media screen and (max-width: 991px) {
				margin-right: 26px;
			}
			@media screen and (max-width: 767px) {
				margin-right: 17px;
			}
		}

		svg {
			width: 30px;
			height: 30px;
		}
	}
}

.price {
	&__wrapper {
		max-width: 1090px;
		margin: 0 auto;
	}

	&__cards {
		display: flex;
		margin: 0 -25px;

		@media screen and (max-width: 991px) {
			margin: 0 -15px;
		}

		@media screen and (max-width: 767px) {
			margin: 0 -10px;
		}

		@media screen and (max-width: 575px) {
			flex-direction: column;
			margin: 0;
		}
	}

	&__item {
		padding: 0 25px;
		flex: 0 0 50%;
		display: flex;

		@media screen and (max-width: 991px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 767px) {
			padding: 0 10px;
		}

		@media screen and (max-width: 575px) {
			padding: 15px 0;
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	// .price__card
	&__card {
		background: #ffffff;
		box-shadow: 0px 5px 30px 5px rgba(179, 215, 226, 0.4);
		border-radius: 10px;
		padding: 25px 50px 50px;

		@media screen and (max-width: 991px) {
			padding: 25px;
		}

		@media screen and (max-width: 767px) {
			padding: 25px 10px;
		}

		@media screen and (max-width: 575px) {
			padding: 25px 15px;
		}
	}
}
.card-price {
	display: flex;
	flex-direction: column;
	width: 100%;

	// .card-price__title
	&__title {
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;
		position: relative;
		padding-bottom: 12px;

		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #000;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	// .card-price__services
	&__services {
		flex: 1 1 auto;
		padding: 50px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (max-width: 991px) {
			padding: 25px 0;
		}
		@media screen and (max-width: 767px) {
			padding: 20px 0;
		}
	}

	// .card-price__service
	&__service {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
		@media screen and (max-width: 991px) {
			margin-bottom: 15px;
		}
	}

	// .card-price__text
	&__text {
		max-width: 248px;
	}

	// .card-price__price
	&__price {
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		white-space: nowrap;
		letter-spacing: 1px;
		flex: 0 0 150px;
		text-align: right;

		@media screen and (max-width: 1920px) {
			font-size: calc(13px + 12 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(30 / 25);
		}

		@media screen and (max-width: 991px) {
			flex: 0 0 100px;
		}
	}

	// .card-price__button
	&__button {
		@media screen and (min-width: 992px) {
			margin: 0 -11px;
			letter-spacing: 0.7px;
		}
		@media screen and (min-width: 576px) and (max-width: 991px) {
			padding: 13px 5px;
			width: 100%;
			letter-spacing: 0;
		}
		@media screen and (max-width: 575px) {
			display: inline-block;
			width: fit-content;
			margin: 0 auto;
		}
		@media screen and (max-width: 380px) {
			padding: 13px 5px;
		}
		@media screen and (max-width: 350px) {
			letter-spacing: 0;
			padding: 13px 22px;
		}
	}

	&__appointment {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 600;
		font-size: 15px;
		line-height: 21px;
		@media screen and (max-width: 1920px) {
			font-size: calc(10px + 5 * ((100vw - 320px) / (1920 - 320)));
			line-height: calc(21 / 15);
		}

		span {
			margin-right: 25px;
		}

		.social__item {
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
		}

		svg {
			width: 30px;
			height: 30px;
		}
	}

	&__social {
		justify-content: flex-end;
	}
}

.first-section--article {
	.card-blog__rubric {
		padding-top: 43px;
		@media screen and (max-width: 991px) {
			padding-top: 30px;
		}
		@media screen and (max-width: 767px) {
			padding-top: 20px;
		}
	}

	.card-blog__rubric-link {
		padding: 5px 20px;
		display: inline-block;

		&::before {
			left: 0;
			width: 100%;
		}
	}
}

.article {
	padding-top: 0;

	&__row {
		display: flex;
		margin: 0 -25px;

		@media screen and (max-width: 991px) {
			margin: 0 -15px;
		}

		@media screen and (max-width: 767px) {
			margin: 0 -10px;
		}

		@media screen and (max-width: 575px) {
			margin: 0;
			display: block;
		}
	}

	&__column {
		padding: 0 25px;

		@media screen and (max-width: 991px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 767px) {
			padding: 0 10px;
		}

		@media screen and (max-width: 575px) {
			padding: 5px 0;
		}
	}

	&__column--first {
		@media screen and (min-width: 576px) {
			flex: 0 0 72.3%;
		}
		@media screen and (max-width: 575px) {
			padding-bottom: 25px;
		}
	}

	&__column--second {
		flex: 1 1 auto;
	}
}
.article-content {
	// .article-content__top
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		@media screen and (max-width: 991px) {
			margin-bottom: 20px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 15px;
		}
	}

	// .article-content__title
	&__title {
		padding-right: 20px;
		max-width: inherit;
		@media screen and (max-width: 575px) {
			text-align: left;
			padding-right: 10px;
		}
	}

	// .article-content__social
	&__social {
		.social__item {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	// .article-content__main
	&__main {
		margin-bottom: 50px;
		@media screen and (max-width: 991px) {
			margin-bottom: 25px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 20px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 10px;
		}
	}

	// .article-content__img
	&__img {
		margin-bottom: 60px;

		@media screen and (max-width: 991px) {
			margin-bottom: 30px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 20px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__appointment {
		justify-content: stretch;

		span {
			margin-right: 30px;
		}

		.social__item {
			margin-right: 30px;
		}

		svg {
			width: 25px;
			height: 25px;
		}
	}
}
.sidebar {
	// .sidebar__label
	&__label {
		font-weight: 300;
		font-size: 15px;
		line-height: 16px;
		margin-bottom: 10px;

		@media screen and (max-width: 1920px) {
			font-size: calc(12px + 3 * ((100vw - 320px) / (1920 - 320)));
		}
		@media screen and (min-width: 576px) {
			margin-bottom: 20px;
		}
	}

	// .sidebar__link
	&__link {
		font-weight: 700;
		line-height: 21px;
		color: #000000;
		display: block;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (max-width: 1920px) {
			line-height: calc(21 / 20);
		}
		@media screen and (min-width: 576px) {
			margin-bottom: 20px;
		}
	}
}
.aside-fixed-top {
	.sidebar__wrapper-outer {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}

	.sidebar__wrapper-inner {
		max-width: 1430px;
		margin: 0 auto;
		padding: 0 15px;
		display: flex;
		justify-content: flex-end;
		height: 0;
	}
}
.aside-fixed-bottom {
	.sidebar__wrapper-inner {
		position: relative;
	}
	.sidebar__wrapper {
		position: absolute;
		width: 100%;
	}
}

.faq {
	// .faq__row
	&__row {
		display: flex;
	}

	// .faq__column--left
	&__column--left {
		@media screen and (min-width: 992px) {
			flex: 0 0 59.4%;
		}
	}
}
