@font-face {
  font-family: "Cormorant Garamond";
  font-display: swap;
  src: url("../fonts/CormorantGaramond-Bold.woff") format("woff"), url("../fonts/CormorantGaramond-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #000;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-bg {
  background-color: #f6f6f6;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title::before,
.section-title::after {
  content: "";
  height: 4px;
  background: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section-title span {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.section-title--center {
  text-align: center;
}

.section-title--center span {
  padding: 0 50px;
}

.title {
  font-family: "Cormorant Garamond";
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2.5px;
  max-width: 570px;
}

.column-left img,
.column-right img {
  display: block;
  width: 100%;
  max-width: 520px;
  height: auto;
}

.column-left .section-title::after {
  display: none;
}

.column-left .section-title span {
  padding-left: 50px;
}

.column-right .section-title::before {
  display: none;
}

.column-right .section-title span {
  padding-right: 50px;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1.8px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22.5px 50px;
  background: transparent;
  border: 3px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 13px 15px;
}

.input-wrapper__text {
  width: 100%;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 1;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 24px 50px;
}

.input-wrapper__text::-webkit-input-placeholder {
  color: #585858;
  opacity: 1;
  -webkit-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::-moz-placeholder {
  color: #585858;
  opacity: 1;
  -moz-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text:-ms-input-placeholder {
  color: #585858;
  opacity: 1;
  -ms-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::-ms-input-placeholder {
  color: #585858;
  opacity: 1;
  -ms-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::placeholder {
  color: #585858;
  opacity: 1;
  -webkit-transition: 0.5s ease all 0s;
  -o-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text:focus {
  outline: 0;
}

.input-wrapper__text:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::-moz-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::placeholder {
  opacity: 0;
}

.input-wrapper input[type="radio"],
.input-wrapper input[type="checkbox"] {
  display: none;
}

.input-wrapper__label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-wrapper__label::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: -3px;
  left: 0;
  background: #fff;
  border: 1px solid #585858;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.input-wrapper--radio input[type="radio"] + label:before {
  border-radius: 50%;
}

.input-wrapper--radio input[type="radio"]:checked + label:before {
  border-width: 8px;
}

.input-wrapper--check input[type="checkbox"]:checked + label:before {
  content: "\2713";
}

.input-wrapper__text--textarea {
  resize: none;
  overflow: hidden;
}

.input-wrapper__text--select option {
  font-size: 20px;
  line-height: 1;
}

.input-wrapper__text--select option[disabled] {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100px;
}

.header__logo {
  z-index: 2;
}

.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 260px;
}

.header__burger {
  display: none;
}

.header__wrapper {
  text-align: right;
}

.header__login {
  position: relative;
  z-index: 2;
}

.header__login a {
  color: #000;
  font-size: 13px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__item {
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.logo__link {
  color: #000;
}

.logo__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  max-width: 64px;
  margin-right: 10px;
}

.logo__img img {
  display: block;
  width: 100%;
  height: auto;
}

.logo__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 3px;
}

.logo__post {
  font-size: 12px;
  line-height: 15px;
}

.menu__link {
  color: #000;
  white-space: nowrap;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider-main__slide:focus {
  outline: none;
}

.slider-main__container {
  max-width: 1040px;
}

.slider-main__text {
  padding: 35.6% 0;
  text-align: center;
}

.slider-main__quote {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-size: 55px;
  line-height: 64px;
  padding-bottom: 49px;
}

.slider-main__author {
  font-size: 25px;
  line-height: 29px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 88px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slick-dots li {
  margin-right: 10px;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots li.slick-active button {
  width: 20px;
  height: 20px;
}

.slick-dots li button {
  font-size: 0;
  border: none;
  background: #000;
  border-radius: 50%;
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.slick-dots li button:focus {
  outline: none;
}

.site-main {
  padding: 100px 0px 0px 0px;
}

.first-screen {
  padding: 0;
}

.about__container {
  overflow: hidden;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
}

.about__row--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__row--reverse .section-title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__row--reverse .section-title span {
  padding: 0px 50px 0px 0px;
}

.about__column {
  padding: 0 25px;
  position: relative;
}

.about__column.column-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.about__column.column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.3%;
          flex: 0 0 39.3%;
}

.about__title {
  margin-bottom: 31px;
}

.about__text {
  margin-bottom: 29px;
  max-width: 760px;
}

.about__text:last-child {
  margin-bottom: 0;
}

.about__text--line {
  padding-left: 32px;
  max-width: 792px;
  position: relative;
  margin: 0px 0px 30px 12px;
}

.about__text--line::before {
  content: "";
  background-color: #c1c1c1;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 3px;
  height: 100%;
}

.consultation-form__section-title {
  margin-bottom: 25px;
}

.consultation-form__section-title span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.consultation-form__form {
  max-width: 860px;
  margin: 0 auto;
}

.consultation-form__attention-text {
  text-align: center;
  color: #e67c65;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.consultation-form__attention-text a {
  color: #e67c65;
}

.consultation-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.consultation-form .input-wrapper {
  text-align: center;
}

.consultation-form .input-wrapper--select,
.consultation-form .input-wrapper--textarea,
.consultation-form .input-wrapper--button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.consultation-form .input-wrapper__text--textarea {
  height: 120px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consultation-form .input-wrapper--check {
  padding: 0;
  margin-bottom: 5px;
}

.consultation-form .input-wrapper__label {
  font-size: 14px;
  line-height: 17px;
  color: #585858;
}

.consultation-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.privacy-policy {
  color: #9fcddc;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}

.blog__container {
  overflow: hidden;
}

.blog__section-title {
  margin-bottom: 23px;
}

.blog__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__button-link {
  letter-spacing: 1px;
}

.card-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -26px 18px;
}

.card-blog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-blog__body {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 430px;
}

.card-blog__img {
  position: relative;
  padding-bottom: 65%;
}

.card-blog__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-blog__content {
  padding: 15px 20px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80px;
          flex: 1 0 80px;
}

.card-blog__title {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-blog__title-link {
  color: #000;
}

.card-blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-blog__rubric {
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  margin: 8px 0;
}

.card-blog__rubric-link {
  position: relative;
  color: #585858;
  padding: 5px 20px 5px 0px;
  letter-spacing: 0.8px;
}

.card-blog__rubric-link::before {
  content: "";
  height: 100%;
  width: 200%;
  position: absolute;
  top: 0;
  left: -100%;
  background: rgba(159, 205, 220, 0.35);
  border-radius: 0px 10px 10px 0px;
}

.card-blog__date {
  font-size: 20px;
  line-height: 29px;
  color: #c1c1c1;
}

.footer {
  padding: 50px 0;
  background-color: #f5fafb;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.footer__column--left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.footer__column--center {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.footer__column--right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo-link .logo__img {
  margin: 0 auto 11px;
}

.footer__privacy {
  display: block;
  text-align: center;
}

.footer__phone {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  display: block;
  margin-bottom: 9px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 30px;
}

.social__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 767px) {
  .footer__bottom {
    margin: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .section-title--center span {
    white-space: nowrap;
  }
}

@media screen and (max-width: 1990px) {
  .button {
    font-size: calc(13px + 7 * ((100vw - 320px) / (1920 - 320)));
  }
}

@media screen and (max-width: 1920px) {
  body {
    font-size: calc(12px + 8 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(29 / 20);
  }

  .section-title {
    font-size: calc(15px + 5 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(24 / 20);
  }

  .title {
    font-size: calc(26px + 24 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(51 / 50);
  }

  .input-wrapper__text {
    font-size: calc(13px + 7 * ((100vw - 320px) / (1920 - 320)));
  }

  .input-wrapper__label {
    font-size: calc(13px + 3 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(24 / 16);
  }

  .input-wrapper__text--select option {
    font-size: calc(13px + 7 * ((100vw - 320px) / (1920 - 320)));
  }

  .logo__name {
    font-size: calc(13px + 7 * ((100vw - 320px) / (1920 - 320)));
  }

  .logo__post {
    font-size: calc(9px + 3 * ((100vw - 320px) / (1920 - 320)));
  }

  .slider-main__quote {
    font-size: calc(24px + 31 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(64 / 55);
  }

  .slider-main__author {
    font-size: calc(12px + 13 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(29 / 25);
  }

  .consultation-form__attention-text {
    font-size: calc(10px + 4 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(20 / 14);
  }

  .consultation-form .input-wrapper__label {
    font-size: calc(9px + 5 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(17 / 14);
  }

  .privacy-policy {
    font-size: calc(9px + 3 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(15 / 12);
  }

  .card-blog__title {
    font-size: calc(12px + 8 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(21 / 20);
  }

  .card-blog__rubric {
    font-size: calc(10px + 5 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(16 / 15);
  }

  .card-blog__date {
    font-size: calc(10px + 10 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(29 / 20);
  }

  .footer__item {
    font-size: calc(15px + 5 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(26 / 20);
  }

  .footer__phone {
    font-size: calc(15px + 5 * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(26 / 20);
  }
}

@media screen and (max-width: 1200px) {
  .header__item {
    margin-right: 35px;
  }
}

@media screen and (max-width: 991px) {
  section {
    padding: 50px 0;
  }

  .section-title {
    letter-spacing: 0.4px;
    margin-bottom: 25px;
  }

  .title {
    letter-spacing: 0px;
  }

  .button {
    padding: 18px 47px;
  }

  .input-wrapper {
    padding: 10px 12px;
  }

  .input-wrapper__text {
    padding: 19.5px 50px;
  }

  .header__logo-link .logo__text-wrapper {
    display: none;
  }

  .header__item {
    margin-right: 20px;
  }

  .logo__img {
    margin-right: 0;
  }

  .slider-main__text {
    padding: 20% 0;
  }

  .slider-main__quote {
    padding-bottom: 30px;
  }

  .slick-dots {
    bottom: 30px;
  }

  .about__row {
    margin: 0 -15px;
  }

  .about__column {
    padding: 0 15px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .about__text {
    margin-bottom: 14px;
  }

  .consultation-form .input-wrapper__text--textarea {
    height: 96px;
  }

  .card-blog {
    margin: 0 -10px 18px;
  }

  .card-blog__item {
    padding: 10px;
  }

  .card-blog__content {
    padding: 15px;
  }

  .footer {
    padding: 35px 0;
  }

  .footer__column {
    padding: 0 25px;
  }

  .social__item {
    margin-right: 21px;
  }
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .section-title--center span {
    padding: 0 25px;
  }

  .column-left .section-title span {
    padding-left: 25px;
  }

  .column-right .section-title span {
    padding-right: 25px;
  }

  .button {
    padding: 13px 22px;
  }

  .input-wrapper {
    padding: 5px;
  }

  .input-wrapper__text {
    padding: 17px 25px;
  }

  .header__body {
    height: 60px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 9px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 100px 15px 20px;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
    text-align: center;
  }

  .header__menu.active {
    top: 0;
  }

  .header__login a {
    font-size: 0;
    background: url(../img/icons/login-outlined.svg) no-repeat;
    display: block;
    width: 25px;
    height: 25px;
  }

  .header__list {
    display: block;
  }

  .header__item {
    margin: 0px 0px 20px 0px;
  }

  .logo__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .slick-dots li.slick-active button {
    width: 14px;
    height: 14px;
  }

  .slick-dots li button {
    width: 7px;
    height: 7px;
  }

  .site-main {
    padding: 60px 0px 0px 0px;
  }

  .about__row {
    margin: 0 -10px;
  }

  .about__row--reverse .section-title span {
    padding: 0px 25px 0px 0px;
  }

  .about__column {
    padding: 0 10px;
  }

  .consultation-form .input-wrapper__text--textarea {
    height: 77px;
  }

  .consultation-form .input-wrapper--check {
    margin: 10px 0;
  }

  .card-blog__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer {
    padding: 25px 0;
  }

  .footer__top {
    margin: 0 -15px;
  }

  .footer__column {
    padding: 0 15px;
  }

  .social__item {
    margin-right: 17px;
  }

  .social__link svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 575px) {
  section {
    padding: 20px 0;
  }

  .section-title {
    margin-bottom: 10px;
  }

  .section-title::before {
    display: none;
  }

  .section-title span {
    padding: 0 15px 0 0;
  }

  .title {
    text-align: center;
  }

  .column-left img,
  .column-right img {
    max-width: 300px;
    margin: 0 auto;
  }

  .column-left .section-title span {
    padding-left: 15px;
  }

  .column-right .section-title span {
    padding-right: 15px;
  }

  .slider-main__quote {
    padding-bottom: 15px;
  }

  .slick-dots {
    bottom: 20px;
  }

  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }

  .about__row--reverse .section-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .about__row--reverse .section-title span {
    padding: 0px 15px 0px 0;
  }

  .about__column {
    padding: 5px 0;
  }

  .about__text {
    margin-bottom: 10px;
  }

  .consultation-form__section-title span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    text-align: left;
  }

  .card-blog {
    margin: 0 -5px 10px;
  }

  .card-blog__item {
    padding: 5px;
  }

  .card-blog__rubric-link {
    padding-right: 10px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    margin-bottom: 15px;
  }

  .footer__column:last-child {
    margin-bottom: 0;
  }

  .footer__column--left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }

  .footer__column--center {
    border: none;
  }

  .footer__column--right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__logo-link .logo__img {
    max-width: 40px;
  }

  .footer__logo-link .logo__post {
    line-height: 1;
  }

  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .button {
    padding: 13px 22px;
  }

  .input-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 5px 0;
  }

  .input-wrapper__text {
    padding: 12px 16px;
  }

  .consultation-form .input-wrapper__text--textarea {
    height: 68px;
  }

  .privacy-policy {
    display: block;
    margin: 5px 0;
  }

  .card-blog__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 10px 0;
  }
}